@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@400;&family=Rubik+Puddles&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("../resources/public/main_bg.png");
  background-size: cover;
}

.rubik-puddles-regular {
  font-family: "Rubik Puddles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
